body{
    background-color:rgb(63, 56, 56); 
    text-align: center;
    color: #ffffff; 
    font-family: "Bebas Neue", sans-serif;
    font-style: normal;
      
}

a{text-decoration: none;
color: #00ff88;}
